{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Network{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="auth-container">
        <div class="auth-header">
            <a href="{% url 'login' %}" class="nav-item-entrance">I have an account</a>
            <a href="{% url 'registration' %}" class="nav-item-entrance">I want to create a new</a>
        </div>
        {% block auth_content %}
        {% endblock %}
    </div>

</body>
</html>